:root[data-theme="dark"] {
  --ifm-color-primary: #a596ee;
  --ifm-color-primary-dark: #311a9e;
  --ifm-color-primary-light: #a596ee;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-footer-link-hover-color: white;

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --ifm-background-color: #17171a;
  --ifm-background-surface-color: var(--ifm-background-color);
  --ifm-toc-border-color: rgba(255, 255, 255, 0.1);
  --ifm-color-emphasis-200: #383843;
  --ifm-color-emphasis-300: var(--ifm-toc-border-color);
  --ifm-menu-color: #8a898e;
  --ifm-menu-color-active: white;
  --ifm-navbar-shadow: none;

  --font-family-base: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --ifm-font-family-base: "Inter", var(--font-family-base);
  --ifm-heading-font-family: "Archivo", var(--font-family-base);
  --ifm-toc-border-color: rgba(0, 0, 0, 0.06);
  --ifm-color-emphasis-300: var(--ifm-toc-border-color);

  --brand-gradient-bg: linear-gradient(
    115.45deg,
    rgba(90, 62, 224, 0.05) -17.45%,
    rgba(197, 62, 224, 0.05) 103.72%
  );
  --brand-gradient: linear-gradient(
    115.45deg,
    rgba(90, 62, 224, 1) -17.45%,
    rgba(197, 62, 224, 1) 103.72%
  );

  background-image: url("/website/bg-gradient.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}

.navbar {
  background: transparent;
}

.navbar:before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(23, 23, 26, 0.2);
  backdrop-filter: blur(2px);
  z-index: -1;
}

.theme-doc-sidebar-container {
  border-color: transparent !important;
}

.footer--dark {
  --ifm-footer-background-color: #272730;
  background-image: url("/website/footer-gradient.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__link-item:hover {
  text-decoration: none;
}

a > svg[class*="ExternalLink"] {
  width: 0.7em;
  height: 0.7em;
  opacity: 0.7;
  margin-left: 0.7em;
}

.footer__copyright {
  font-size: 0.9em;
}

.menu__caret:before,
.menu__link--sublist-caret:after {
  background-size: 1.25rem;
  opacity: 0.6;
}

.theme-doc-footer-edit-meta-row a {
  font-size: 0.9em;
}

.theme-doc-footer-edit-meta-row a > svg {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  vertical-align: middle;
}

.pagination-nav__link {
  background: var(--brand-gradient-bg);
}

.pagination-nav__label {
  display: inline-block;
  background: var(--brand-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.breadcrumbs__item--active {
  background: var(--brand-gradient-bg);
  border-radius: 50px;
}

.breadcrumbs__item--active .breadcrumbs__link {
  background: var(--brand-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__list-item-collapsible--active,
.menu__link--active:not(.menu__link--sublist),
.menu__link:hover,
.menu__list-item-collapsible:hover {
  background: var(--brand-gradient-bg);
  color: white;
}

.navbar__item svg,
.menu__link svg,
.navbar__link[aria-haspopup="true"]:after,
.footer__link-item svg {
  display: none;
}

.navbar__brand,
.navbar__items:not(.navbar__items--right) .navbar__item:last-child {
  margin-right: auto;
}

.nav-github-stars,
.footer__title {
  font-family: var(--ifm-heading-font-family);
}

.nav-github-stars:before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(/website/github-icon.svg);
  margin-right: 6px;
}

.nav-cta {
  padding: 8px 20px !important;
  margin-left: 8px;
  font-family: var(--ifm-heading-font-family);
  font-weight: 700;
  background-image: linear-gradient(to bottom right, #5a3ee0, #c53ee0);
  border-radius: 6px;
  color: white;
}

.nav-cta:hover {
  color: white;
  opacity: 0.9;
}

.footer__col {
  --ifm-col-width: 200px;
}

.footer__bottom {
  text-align: right;
}

/* Search */
.navbar__search {
  margin: 0 !important;

  --ifm-navbar-search-input-icon: url('data:image/svg+xml;utf8,<svg fill="white" opacity="0.8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" /></svg>');
}

.navbar__search-input {
  --ifm-navbar-search-input-background-color: rgba(255, 255, 255, 0.1);

  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 6px;
  height: auto !important;
  transition: 0.2s;
  font-family: inherit;
}

@media (max-width: 576px) {
  .navbar__search-input:focus {
    --ifm-navbar-search-input-background-color: var(--ifm-color-emphasis-200);
  }

  .navbar__search-input:not(:focus) {
    border-radius: 50%;
    padding-right: 0.2rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
